@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.nav-bar {
    background: #ffffff;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between; /* Adjust for better spacing on larger screens */
    align-items: center;
    padding: 0 20px; /* Adjust padding for better responsiveness */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.nav-bar nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.nav-bar nav a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    display: inline-block;
    line-height: 60px;
    padding: 0 10px; /* Adjust padding for better responsiveness */
    text-decoration: none;
}

.nav-bar nav a:hover,
.nav-bar nav a.active {
    border-bottom: 3px solid #000000;
}
