@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page {
    width: 10%;
    height: 100%;
    position: absolute;
}

.nav-bar {
    background: #ffffff;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 3;
    display: flex;
    padding: 0 40px; /* Add padding to the left and right */

    //make it has hover effect
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;

        a {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            color: #000000;
            display: inline-block;
            line-height: 60px;
            padding: 0 20px;
            text-decoration: none;

            &:hover {
                padding: 0 20px;
                border-bottom: 3px solid #000000; /* Add a bottom border to indicate the nav bar */
            }

            &.active {
                border-bottom: 3px solid #000000; /* Add a bottom border to indicate the nav bar */
                padding: 0 20px;
            }
        }
    }

    ul {
        display: none;
    }
}
