.saving-result-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
  }
  
  .saving-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .saving-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .saving-image-container {
    flex: 1;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .saving-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .saving-image-container.loaded {
    opacity: 1;
  }
  
  .saving-text-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    margin-left: 50px;
  }
  
  .saving-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .saving-pagination-button {
    background: #047bca;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .saving-pagination-button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .saving-page-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .saving-page-indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .saving-page-indicator.active {
    background: #047bca;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .saving-result-category {
      padding: 20px;
      max-height: 90vh;
    }
  
    .saving-title {
      font-size: 1.8em;
    }
  
    .saving-content {
      flex-direction: column;
      align-items: center;
    }
  
    .saving-image-container {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .saving-image-container img {
        max-width: 100%;
        height: 20vh;
        border-radius: 10px;
    }
  
    .saving-text-container {
      align-items: center;
      max-width: 100%;
      margin-left: 0;
    }
  
    .saving-pagination-container {
      flex-direction: column;
      align-items: center;
    }
  
    .saving-pagination-button {
      margin: 10px 0;
    }
  
    .saving-page-indicators {
      margin: 10px 0;
    }
  
    .saving-page-indicator {
      width: 8px;
      height: 8px;
      margin: 0 3px;
    }
  }
  