.module-page {
  display: flex;
  height: 100vh;
  background-color: #f4f6f8;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  color: #333;

  .module-sidebar {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .module-header {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;

      //module title
      h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
        color: #0056b3;
        border-bottom: 2px solid #e0e0e0;
        padding-bottom: 10px;
      }
    }

    .lesson-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px 0;
      border-bottom: 2px solid #e0e0e0;

      button {
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: #138b94;
        padding: 5px 10px;
        transition: color 0.3s;

        &:hover {
          color: #003d75;
        }

        &:disabled {
          color: #ccc;
          cursor: not-allowed;
        }
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
        text-align: center;
        flex-grow: 1;
        color: #333;
      }
    }

    .sections-list {
      list-style: none;
      padding: 0;
      width: 100%;
      overflow-y: auto;
      flex-grow: 1;

      li {
        font-size: 1.6rem;
        padding: 15px 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;

        &:hover {
          background-color: #f0f4f8;
        }

        &.active {
          background-color: #0056b3;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }

  .module-content {
    flex-grow: 1;
    padding: 100px;
    padding-left: 30%; /* Add padding to the left */
    padding-right: 30%; /* Add padding to the right */
    background-color: #ffffff;
    overflow-y: auto;
    margin: 0 auto; /* Center the content */

    h3 {
      font-size: 2.8rem;
      font-weight: 700;
      margin-bottom: 20px;
      color: #000000;
      border-bottom: 2px solid #e0e0e0;
      padding-bottom: 10px;
    }

    h4 {
      font-size: 2.2rem;
      font-weight: 700;
      color: #28a745;
      margin-top: 30px;
      margin-bottom: 15px;
      border-bottom: 2px solid #e0e0e0;
      padding-bottom: 10px;
    }

    //sub headings
    h5 {
      font-size: 2.2rem;
      font-weight: 600;
      color: #4067af;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .depth-3 {
      font-size: 1.6rem;
      font-weight: 600;
      color: #2c639e;
      padding: 10px 0;
    }

    .depth-4 {
      font-size: 1.4rem;
      font-weight: 500;
      color: #003d75;
      padding: 8px 0;
    }

    p, li {
      font-size: 1.8rem;
      color: #020202;
      margin-bottom: 15px;
      line-height: 1.6;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 20px;

      li {
        font-size: 1.6rem;
        color: #555;
        margin-bottom: 10px;
        padding-left: 15px;
        position: relative;
        line-height: 1.5;

        &::before {
          color: #0056b3;
          font-weight: bold;
          display: inline-block;
          width: 1.5em;
          margin-left: -1em;
        }
      }
    }

    .card {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      }

      h5 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
        color: #25a02b;
      }

      .card-content {
        font-size: 1.6rem;
        color: #555;

        ul {
          list-style-type: disc;
          padding-left: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .module-sidebar {
      margin-top: 50px;
      width: 100px;
      padding: 15px;
      position: static;
      background-color: #f9f9f9;
      border-bottom: 1px solid #e0e0e0;
      box-shadow: none;
  
      .module-header {
        text-align: center;
        
        h3 {
          font-size: 1.4rem;
          margin-bottom: 10px;
        }
      }
  
      .lesson-navigation {
        display: flex;
        flex-direction: column; /* Stack navigation vertically */
        align-items: center;
        position: static;
        width: 100%;
        margin-top: 20px;
        padding: 10px 0;
        background-color: #ffffff;
        border-top: 1px solid #e0e0e0;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
        
        button {
          background: none;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          color: #0056b3;
          padding: 5px 10px;
          transition: color 0.3s;
  
          &:hover {
            color: #003d75;
          }
  
          &:disabled {
            color: #ccc;
            cursor: not-allowed;
          }
        }
  
        h4 {
          font-size: 1.2rem;
          font-weight: 700;
          margin: 0;
          text-align: center;
          color: #333;
          white-space: normal; /* Allow text to wrap */
          overflow: visible;
          text-overflow: clip; /* No need for ellipsis since text wraps */
          word-wrap: break-word; /* Break long words if necessary */
        }
      }
  
      .sections-list {
        padding: 0;
        margin: 0;
        list-style: none;
  
        li {
          font-size: 1.2rem;
          padding: 10px 5px;
          border-bottom: 1px solid #e0e0e0;
          white-space: normal; /* Allow text to wrap */
          word-wrap: break-word; /* Break long words if necessary */
        }
      }
    }
  
    .module-content {
      padding: 20px;
      margin-top: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
      h3 {
        font-size: 2.2rem;
        margin-bottom: 20px;
      }
  
      h4 {
        font-size: 2rem;
      }
  
      p, li {
        font-size: 1.4rem;
        line-height: 1.6;
      }
  
      .card {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
        h5 {
          font-size: 1.8rem;
        }
  
        .card-content {
          font-size: 1.4rem;
        }
      }
    }
  }
}