@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  font-weight: bold;
}

.description {
  font-size: 1.5em;
}

.testresult-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../assets/images/koalakoinBackground2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .testresult-page {
    padding: 10px;
  }

}
