.personality-result-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
    background-image: url('../../assets/images/resultBackground.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
  
  .personality-title1{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: #000000;
  }

  .personality-title2 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: #57b9fa;
  }
  .personality-title3 {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 3vh;
    font-weight: bold;
    color: #000000;
  }
  .personality-description {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1.7vh;
  }
  
  .personality-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .personality-image-container {
    margin-bottom: 2vh;
  }
  
  .personality-image-container img {
    max-width: 400px;
    align-self: center;
    height: auto;
    border-radius: 1vh;
  }
  
  .personality-text-container {
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
  }
  
  .personality-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
  }
  
  .personality-pagination-button {
    background: #047bca;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .personality-pagination-button:disabled {
    color: #ffffff00;
    cursor: not-allowed;
    background-color: #ffffff00;
  }
  
  .personality-page-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .personality-page-indicator {
    width: 1vh;
    height: 1vh;
    margin: 0 0.5vh;
    background: #b9b9b9;
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .personality-page-indicator.active {
    background: #047bca;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .personality-result-category {
      padding: 2vh;
    }
  
    .personality-title {
      font-size: 1.8vh;
    }
  
    .personality-content {
      align-items: center;
    }
  
    .personality-image-container {
      margin-bottom: 2vh;
    }

    .personality-image-container img {
        max-width: 200px;
        align-self: center;
        height: auto;
        border-radius: 1vh;
      }
  
    .personality-text-container {
      text-align: center;
    }
  
    .personality-pagination-container {
      flex-direction: column;
      align-items: center;
    }
  
    .personality-pagination-button {
      margin: 1vh 0;
    }
  
    .personality-page-indicators {
      margin: 1vh 0;
    }
  
    .personality-page-indicator {
      width: 0.8vh;
      height: 0.8vh;
      margin: 0 0.3vh;
    }
  }
  