.complete-profile-container {
  background-image: url('../../assets/images/koalakoinBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure the background covers the full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center the form */
  align-items: center; /* Vertically center the form */
}

.complete-profile-unique-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  max-width: 600px;
  width: 100%; /* Ensure the box is responsive */
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ececec;
}

.complete-profile-unique-container h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.complete-profile-unique-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.complete-profile-unique-label {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
  font-weight: 500;
}

.complete-profile-unique-input,
.complete-profile-unique-select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.complete-profile-unique-input:focus,
.complete-profile-unique-select:focus {
  border-color: #00aaff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

.complete-profile-unique-submit-button {
  background-color: #00aaff;
  color: #fff;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.complete-profile-unique-submit-button:hover {
  background-color: #008ecc;
}

.complete-profile-unique-submit-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .complete-profile-unique-container {
    padding: 20px;
  }

  .complete-profile-unique-label {
    font-size: 15px;

    .complete-profile-unique-input,
    .complete-profile-unique-select {
      font-size: 15px;
      padding: 10px;
    }
  }

  .complete-profile-unique-submit-button {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .complete-profile-unique-container {
    padding: 15px;
  }

  h2 {
    font-size: 22px;
  }

  .complete-profile-unique-label {
    font-size: 14px;

    .complete-profile-unique-input,
    .complete-profile-unique-select {
      font-size: 14px;
      padding: 8px;
    }
  }

  .complete-profile-unique-submit-button {
    padding: 10px;
    font-size: 14px;
  }
}
