.slider-container {
    width: 100%;
    margin: 20px 0;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .slider-label-left,
  .slider-label-right {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
  }
  
  .slider {
    position: relative;
    height: 10px;
    background: #000000;
    border-radius: 5px;
  }
  
  .slider-track {
    width: 100%;
    height: 100%;
    background: #00e1ff;
    border-radius: 5px;
  }
  
  .slider-fill {
    position: absolute;
    height: 100%;
    background: #00e1ff;
    border-radius: 5px;
  }
  
  .slider-thumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: #047bca;
    border-radius: 50%;
  }
  
  .slider-score {
    text-align: center;
    margin-top: 5px;
    font-size: 1.5em;
    color: #333;
  }
  